.input__field,
.loan__form,
.minimum__payment,
.payment__form {
	display: flex;
	flex-direction: column;
}

.loan__text {
	margin-bottom: 2rem;
	margin-top: 0.25rem;
	font-size: 0.9rem;
	word-spacing: 0.25rem;
}

.loan__form {
	row-gap: 1.25rem;
}

.input__row {
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
}

.input__note {
	padding-left: 0.25rem;
	font-size: 0.75rem;
	font-weight: 400;
	margin: 0;
	color: var(--clr-text-alt);
}

.input__subtext {
	font-size: 0.6rem;
	letter-spacing: 0.05rem;
	margin-top: 0;
}

.label {
	text-transform: uppercase;
	color: var(--clr-violet);
	word-spacing: 0.25rem;
}

.balance {
	padding-right: 0.5rem;
	min-width: 210px;
	border-bottom: 1px solid var(--clr-divider);
}

.balance .number {
	text-align: center;
	font-weight: 700;
	margin: 0;
	font-size: 1.5rem;
	color: var(--clr-purple);
}

.balance .description {
	text-align: center;
	color: var(--clr-violet);
	padding: 0.5rem;
	font-size: 0.75rem;
	margin: 0;
	font-weight: 700;
	word-spacing: 0.25rem;
}

.minimum__payment {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.minimum__payment input {
	padding: 0.35rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.payment__form {
	row-gap: 0.75rem;
}

.payment__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.payment__button {
	margin-top: 1rem;
	transition: transform 0.3s ease-in-out;
}

.payment__button:hover {
	transform: translateY(-5px);
	background-color: var(--clr-violet);
	box-shadow: 10px 10px 20px var(--bg-shadow);
}

.payments__remaining {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-field);
	margin-top: 20px;
}

.payments__remaining p:nth-child(1) {
	font-size: 0.75rem;
	max-width: 200px;
	margin: 3px 0 3px 20px;
}

.payments__remaining p:nth-child(2) {
	font-size: 1.5rem;
	color: var(--clr-violet);
	margin: 0 auto;
}
