:root {
	font-family: "Plus Jakarta Sans", system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--clr-text);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--clr-violet: rgb(208, 171, 243);
	--clr-purple: rgb(161, 97, 221);
	--clr-text: rgba(255, 255, 255, 0.87);
	--clr-text-alt: rgb(110, 110, 110);
	--clr-divider: rgba(255, 255, 255, 0.05);

	--dark-gray: #333333;
	--light-gray: #666666;

	--bg: #121212;
	--bg-field: #1a1a1a;
	--bg-component: #1d1d1d;
	--bg-shadow: rgba(0, 0, 0, 0.25);
}

a {
	font-weight: 500;
	color: var(--clr-violet);
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--bg);
	overflow-y: hidden;
}

h1 {
	font-size: 2.5em;
	line-height: 1.1;
	margin-bottom: 0.5rem;
	color: var(--clr-purple);
}

h3 {
	margin-top: 0;
	font-size: 1.25em;
	font-weight: 700;
	word-spacing: 5px;
	color: var(--clr-purple);
	text-transform: uppercase;
	border-bottom: 2px solid var(--dark-gray);
}

p {
	color: var(--clr-text);
}

input {
	padding: 0.4em 1.2em;
	background-color: var(--bg-field);
	border: 1px solid var(--dark-gray);
	color: var(--clr-text);
}

/*** Button ***/

button {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--clr-purple);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--clr-violet);
}
button:focus,
button:focus-visible {
	outline: 1px auto -webkit-focus-ring-color;
}

/*** Scroll Bar ***/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--clr-violet);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--clr-purple);
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.highlight {
	font-weight: 700;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: var(--clr-violet);
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: fit-content;
	background-color: var(--dark-gray);
	padding: 20px;
	z-index: 100;
	box-shadow: 10px 20px 20px var(--bg-shadow);
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-shadow);
	z-index: 99;
}

.ultraTop {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}

.buttons {
	display: flex;
	gap: 10px;
}

.button__default {
	margin: 0.5rem 0;
	background-color: var(--clr-purple);
	padding: 0.25rem 0.25rem;
	width: 32px;
	height: 32px;
	box-shadow: 10px 10px 20px var(--bg-shadow);
	transition: transform 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button__default:hover {
	transform: translateY(-5px);
	background-color: var(--clr-violet);
}

.button__default i {
	font-size: 1rem;
}

.top {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.top .component__base:nth-child(1) {
	max-width: 320px;
}

.component__base {
	background-color: var(--bg-component);
	margin: 0 auto;
	padding: 2rem;
	box-shadow: 10px 0px 20px var(--bg-shadow);
}
